body{
    background-color: rgb(26, 26, 26);
}

#wrapper {
    width: 1200px;
    margin: 10px auto;
    background-color: rgb(240, 240, 240);;
    border: solid rgb(240, 240, 240) 2px;
}

#myWorld {
    width: 1200px;
    height: 580px;

}

h5{
    text-align: center;
    color: rgb(240, 240, 240);
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: .4rem;
}

a {
    color: rgb(240, 240, 240);
}

a:hover {
    color: #eb5c29;
}

.mybtn{
    margin: 0 auto;
    text-align: center;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0.5rem;
    border: none;
    border-radius: 25px;
    padding: 1rem 3.5rem;
    background-color: #eb5c29;
    color: white;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(184, 184, 184, 0.575);
}

#light img {
    width: 1.5rem;
    padding: 0;
}

#Dark img {
    width: 1.1rem;
    padding: 0;

}

#zoom img {
    width: 1.4rem;
    padding: 0;
}

#zoomout img {
    width: 1.4rem;
    padding: 0;
}

#left img {
    width: 1.3rem;
    padding: 0;
}

#rotate img {
    width: 1.1rem;
    padding: 0;
}

#right img {
    width: 1.3rem;
    padding: 0;
}

#play img {
    width: 1.8rem;
    padding: 0;
}

#pause img {
    width: 1.8rem;
    padding: 0;
}