body{
    background-color: #fff;
}

#wrapper {
    width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    border: solid white 2px;
}

#myWorld {
    width: 1200px;
    height: 700px;

}

h2, h5{
    text-align: center;
    color: white;
}

.mybtn{
    margin: 0 auto;
    text-align: center;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0.5rem;
    border-radius: 25px;
    padding: 1rem 2rem;
    background-color: rgb(70, 47, 175);
    color: white;
}